#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr) ;
  gap: 20px;
}

.card {
  height: 50px;
  border: 2px solid red;
}

.card:hover {
  background-color: antiquewhite;
}

.card:active{
    background-color: rgb(135, 99, 51);
}