#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 50px;
}

main {
  max-width: 90%;
  display: grid;
  grid-template-columns:  repeat(6, 1fr);
  gap: 20px;
}

.card {
  border: 2px solid red;
  aspect-ratio: 3/4;
}

.card:hover {
  background-color: antiquewhite;
}

.card:active{
    background-color: rgb(135, 99, 51);
}

.card > img {
  width: 100%;
  height: 75%;
}

.card > h3 {
  text-align: center;
}

@media (max-width: 900px) { main { grid-template-columns: repeat(4, 1fr); } }
@media (max-width: 600px) { main { grid-template-columns: repeat(3, 1fr); } }